###### Requirements with Version Specifiers ######`

# code developed on python 3.8

# core utilities
numpy == 1.18.3
scipy == 1.4.1
pandas == 1.0.3
matplotlib == 3.2.1

# for scraping
bs4 == 0.0.1
requests == 2.23.0

# miscellaneous
natsort == 7.0.1